body {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 55px;
}

.about-info-para {
  text-align: center;
}

.navbar-brand a {
  color: #282c34;
}

.nav-item {
  padding-right: 10px;
}

.nav-item a {
  color: rgba(0, 0, 0, .5);
}

.footer {
  bottom: 0;
  left: 0;
  padding-left: 10px;
  height: 45px;
  background-color: #282c34;
  color: white
}

.footer p {
  padding-top: 7px
}

a {
  color: #282c34;
  text-decoration: none;
}

a h4 {
  color: #007bff;
  text-decoration-color: #007bff;
}

a:hover {
  text-decoration-color: #282c34 !important;
  color: #282c34 !important;
}

a h4:hover {
  color: #282c34 !important;
}

.pad {
  padding-left: 10px;
  color: white
}

.right {
  float: right;
  padding-right: 10px
}

.success {
  color: #007bff
}

.failure {
  color: rgb(153, 10, 10)
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#portpic {
  opacity: 0.6;
  border-radius: 50%
}

.grey {
  color: blue;
}

.card-img {
  max-height: 300px
}

#projects {
  padding: 30px
}

#about {
  padding-top: 15px;
  padding-bottom: 5px
}

.btn {
  margin: 10px
}

#contact {
  padding-top: 20px
}

.about-pics {
  opacity: 0.7;
  width: 100%;
  height: 250px
}

.about-para {
  padding: 10px
}

.about-para:last-child {
  padding-bottom: 40px
}

.contact-icons {
  margin: 50px 30px 20px 30px
}

.contact-para {
  padding: 20px
}

.project-title {
  padding: 10px
}

.project-images {
  min-height: 400px;
  padding: 20px;
}

.thin-pic {
  max-width: 400px;
  margin: 0 auto;
}

.landing-list li {
  padding: 5px
}

.min-pad {
  padding: 20px
}

.review-site-imgs {
  max-height: 150px;
  padding: 20px
}